@import url("https://fonts.googleapis.com/css?family=Varela+Round");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
  color: #feffce;
}

html,
body {
  height: 100%;
  min-height: 100%;
  width: 100%;
}

body {
  line-height: 150%;
  background: #551f70;
  background: -webkit-linear-gradient(to top, #fdffa7, #551f70);
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#fdffa7),
    to(#551f70)
  );
  background: -webkit-linear-gradient(bottom, #fdffa7, #551f70);
  background: -o-linear-gradient(bottom, #fdffa7, #551f70);
  background: linear-gradient(to top, #fdffa7, #551f70);
  background-attachment: fixed;
}
h1 {
  margin: 1em;
}
.buttons {
  width: 100%;
  text-align: center;
}
#startGameBtn,
#resetGameBtn {
  background-color: #6b3587;
  margin: 2em 1em;
  border: none;
  padding: 1em 2em;
  font-size: 1em;
  font-weight: 500;
  -webkit-box-shadow: 0px 3px 4px rgba(34, 34, 34, 0.6);
  box-shadow: 0px 3px 4px rgba(34, 34, 34, 0.6);
  border-radius: 2px;
  cursor: pointer;
}
#startGameBtn:hover,
#resetGameBtn:hover {
  background-color: #aa81bf;
}
.container {
  display: -ms-grid;
  display: grid;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.content {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
  -webkit-box-shadow: 0px 3px 4px rgba(34, 34, 34, 0.6),
    0px 7px 10px rgba(34, 34, 34, 0.7);
  box-shadow: 0px 3px 4px rgba(34, 34, 34, 0.6),
    0px 7px 10px rgba(34, 34, 34, 0.7);
}
.content > div {
  display: -ms-grid;
  display: grid;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 12em;
  cursor: pointer;
  color: rgba(85, 31, 112, 1);
  background-color: #eef079;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-user-select: none;
}
.content .div1 {
  border-right: 6px solid rgba(85, 31, 112, 0.7);
}
.content .div3 {
  border-left: 6px solid rgba(85, 31, 112, 0.7);
}
.content .div4 {
  border-right: 6px solid rgba(85, 31, 112, 0.7);
  border-top: 6px solid rgba(85, 31, 112, 0.7);
}
.content .div5 {
  border-top: 6px solid rgba(85, 31, 112, 0.7);
}
.content .div6 {
  border-left: 6px solid rgba(85, 31, 112, 0.7);
  border-top: 6px solid rgba(85, 31, 112, 0.7);
}
.content .div7 {
  border-right: 6px solid rgba(85, 31, 112, 0.7);
  border-top: 6px solid rgba(85, 31, 112, 0.7);
}
.content .div8 {
  border-top: 6px solid rgba(85, 31, 112, 0.7);
}

.content .div9 {
  border-top: 6px solid rgba(85, 31, 112, 0.7);
  border-left: 6px solid rgba(85, 31, 112, 0.7);
}
#sig {
  color: #8755a0;
}
